header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  border-bottom: 10px solid var(--qwik-dark-purple);
  padding-inline: 1.5rem;
  width: 80vw;
  background-color: white;
}

@media (max-width: 611px) {
  header {
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
